<configuration>
	<appSettings>
		<add key="Baseurl" value="https://disputedev.azurewebsites.net/"/>
		<add key="username" value="abdul@finboa.com"/>
		<add key="password" value="Password@5"/>
		<add key="appUsername" value="abdul@finboa.com"/>
		<add key="emailPassword" value="$Pak35tan$2027"/>
	</appSettings>
</configuration>